.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal {
  position: relative;
  margin: 1.75rem auto;
  z-index: 1060;
  display: block;
}

.modal-wrapper .modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: auto;
  max-width: 800px;
  margin: 1.75rem auto;
}

.modal-wrapper .modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-wrapper .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-wrapper .modal-backdrop.fade {
  opacity: 0;
}

.modal-wrapper .modal-backdrop.show {
  opacity: 0.5;
}
